// ブランドカラーを変数として定義
$ryu-purple: #7684c2;
$ryu-bg-light: #f8f9fa;

// 必要ならフォント名なども変数にできます
$font-main: 'Helvetica Neue', Arial, sans-serif;
$font-accent: 'Diana', serif;

$font-base: 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN', 'MS PMincho', serif;
